<app-color-bar title="Contact us"></app-color-bar>
<section class="ftco-section">
  <div class="container mt-4">
    <div class="d-flex justify-content-center mb-3">
<!--      <img src="https://assets-ouch.icons8.com/free-download/787/3beb67a6-97f5-476d-b6a2-30fc00cd4ff1.png?filename=pluto-no-comments.png" alt="Contact Us" style="max-width: 500px;" width="100%">-->
    </div>
    <h6 class="ftco-animate">If you have any questions or trouble installing/using/coding please don't hesitate to
      contact us!</h6>
    <div class="row d-flex mb-3 contact-info">
      <div class="col-md-12 mb-1">
        <h2 class="h4 ftco-animate">Contact Information</h2>
      </div>
      <div class="w-100"></div>
      <div class="col-md-3 ftco-animate">
        <p><span>Email: </span> <a href="mailto:a.kovrigin0@gmail.com">a.kovrigin0@gmail.com</a></p>
      </div>
      <div class="col-md-3 ftco-animate">
        <p><span>Website: </span> <a href="https://alexkovrigin.me">alexkovrigin.me</a></p>
      </div>
      <div class="col-md-3 ftco-animate">
        <p><span>GitHub: </span> <a href="https://github.com/waleko">@waleko</a></p>
      </div>
      <div class="col-md-3 ftco-animate">
        <p><span>Telegram: </span> <a href="https://t.me/waleko">@waleko</a></p>
      </div>
      <div class="col-md-3 ftco-animate">
        <p><span>Vk: </span> <a href="https://vk.com/alex.kovrigin">@alex.kovrigin</a></p>
      </div>
    </div>
  </div>
</section>
