<app-color-bar></app-color-bar>
<div class="ftco-section">
  <div class="container">
    <div class="d-flex justify-content-center">
     <img class="unselectable" src="/assets/images/abstract-fatal-error.svg" alt="Error" width="100%" style="max-width: 750px;">
    </div>
    <h2>Something went wrong</h2>
    <p>
      Please contact the website maintainer at the <a href="/contact">contact page</a> or email directly to <a href="mailto:a.kovrigin0@gmail.com">a.kovrigin0@gmail.com</a>
    </p>
  </div>
</div>
