<app-color-bar></app-color-bar>
<div class="ftco-section">
  <div class="container">
    <div class="d-flex">
     <img src="https://assets-ouch.icons8.com/free-download/358/34a66017-3db6-4deb-b3c1-145d30ef5886.png?filename=abstract-fatal-error.png" alt="Error" width="100%" style="max-width: 500px;">
    </div>
    <h2>Something went wrong</h2>
    <p>
      Please contact the website maintainer at the <a href="/contact">contact page</a> or email directly to <a href="mailto:a.kovrigin0@gmail.com">a.kovrigin0@gmail.com</a>
    </p>
  </div>
</div>
