<app-color-bar></app-color-bar>
<div class="ftco-section">
  <div class="container">
    <div class="d-flex justify-content-center">
      <img class="unselectable" src="/assets/images/pluto-no-connection.svg" alt="No connection" width="100%" style="max-width: 750px;">
    </div>
    <h2>No connection</h2>
    <p>
      Your browser couldn't perform the request to our API server.
      Check API status:
      <img alt="If you see this, chances are, you aren't connected to the internet. Check your connection."
           src="https://img.shields.io/uptimerobot/status/m783380084-949b0f11d93ac887779accb4?style=for-the-badge">
    </p>
  </div>
</div>
