<!-- carousel -->
<div class="home-slider owl-carousel ftco-section">
  <div class="slider-item" style="background-image: url('/assets/images/bg_1.jpg');">
    <div class="overlay"></div>
    <div class="container-fluid ftco-section">
      <div class="row slider-text align-items-center ftco-section" data-scrollax-parent="true">

        <div class="col-md-5 wrap col-sm-12 ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
          <h1 class="mb-4 mt-5" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Cross-platform tool for creating text-based and board games</h1>
          <p class="mb-4 mb-md-5 sub-p" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Open-source and completely free</p>
          <p><a href="/library" class="btn btn-primary p-3 px-xl-5 py-xl-3">See games</a> <a href="https://github.com/cavoke-project/" class="btn btn-primary btn-primary-2 p-3 px-xl-5 py-xl-3">View on GitHub</a></p>
        </div>
        <div class="col-md-7 ftco-animate">
          <img src="assets/images/gaming.svg" class="img-fluid" alt="">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- central six-panel -->
<section class="ftco-section services-section bg-light">
  <div class="container ftco-section">
    <div class="row justify-content-center mb-5 pb-3 ftco-section">
      <div class="col-md-7 text-center heading-section ftco-animate">
        <h2 class="mb-4">Cavoke features</h2>
      </div>
    </div>
    <div class="row ftco-section">
      <div class="col-md-4 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services d-block text-center">
          <div class="d-flex justify-content-center">
            <div class="icon d-flex align-items-center justify-content-center">
              <span class="flaticon-web"></span>
            </div>
          </div>
          <div class="media-body p-2 mt-3">
            <h3 class="heading">Cross-platform</h3>
            <p>Cavoke, thanks to it design, is cross-platform, meaning that any device may play the games.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services d-block text-center">
          <div class="d-flex justify-content-center">
            <div class="icon d-flex align-items-center justify-content-center">
              <span class="flaticon-idea"></span>
            </div>
          </div>
          <div class="media-body p-2 mt-3">
            <h3 class="heading">Easy to use</h3>
            <p>Python library is well documented and provided with handful examples. The library itself was built to be able to be easily built on.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services d-block text-center">
          <div class="d-flex justify-content-center">
            <div class="icon d-flex align-items-center justify-content-center">
              <span class="flaticon-server"></span>
            </div>
          </div>
          <div class="media-body p-2 mt-3">
            <h3 class="heading">Servers</h3>
            <p>Cavoke is being run on special servers, that do all the hard work for your game session.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services d-block text-center">
          <div class="d-flex justify-content-center">
            <div class="icon d-flex align-items-center justify-content-center">
              <span class="flaticon-offer"></span>
            </div>
          </div>
          <div class="media-body p-2 mt-3">
            <h3 class="heading">Price</h3>
            <p>Free. completely. forever.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services d-block text-center">
          <div class="d-flex justify-content-center">
            <div class="icon d-flex align-items-center justify-content-center">
              <span class="flaticon-terminal"></span>
            </div>
          </div>
          <div class="media-body p-2 mt-3">
            <h3 class="heading">Open-source</h3>
            <p>Cavoke is open-source. You can find the source code on <a href="https://github.com/cavoke-project/">GitHub.</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services d-block text-center">
          <div class="d-flex justify-content-center">
            <div class="icon d-flex align-items-center justify-content-center">
              <span class="flaticon-tools"></span>
            </div>
          </div>
          <div class="media-body p-2 mt-3">
            <h3 class="heading">Maintainability</h3>
            <p>Project is being well-maintained and every issue or pull request will be review in the matter of hours.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- how it works -->
<section class="ftco-section">
  <div class="container ftco-section">
    <div class="row justify-content-center mb-5 pb-5">
      <div class="col-md-7 text-center heading-section ftco-animate">
        <span class="subheading">Structure</span>
        <h2 class="mb-4" id="how-it-works">How it works</h2>
      </div>
    </div>
    <p class="ftco-animate">
    <p class="ftco-animate">
      This project consists of three separate sub-projects:
    </p>
    <ul>
      <li class="ftco-animate">
        Python library (<a href="https://github.com/cavoke-project/cavoke-lib">cavoke-lib</a>)
      </li>
      <li class="ftco-animate">
        Server (<a href="https://github.com/cavoke-project/cavoke-server">cavoke-server</a>)
      </li>
      <li class="ftco-animate">
        Client-side (<a href="https://github.com/cavoke-project/cavoke-web">cavoke-web</a>, <span style="color: #d1d1d1">more coming soon-ish</span>)
      </li>
    </ul>
    <p class="ftco-animate">
      By splitting up server- and client-side, we can achieve being a cross-platform project, as with simple API games can be accessed from any device.
      Here you can see the approximate scheme of the project:
    </p>
    <div class="container">
      <h3 id="project-scheme" class="ftco-animate">Scheme</h3>
      <div class="container ftco-animate" style="position:relative; padding-top: 46.875%;">
        <iframe frameborder="0" class="ftco-animate" style="position:absolute; top: 0; left: 0; width: 110%; height: 110%;" target="_top"
                src="https://www.draw.io/?lightbox=1&highlight=0000ff&edit=_blank&layers=1&nav=1&title=cavoke.drawio#Uhttps%3A%2F%2Fraw.githubusercontent.com%2Fcavoke-project%2Fcavoke-web%2Fmaster%2Fcavoke.drawio"></iframe>
      </div>
    </div>
    <p class="ftco-animate">
      Now we will try to explain every part on this scheme.
    </p>
    <br>
    <div class="container mb-3">
      <h2 id="python-dev" class="ftco-animate">Python library and developer's code</h2>
      <p class="ftco-animate">
        The games are not going to write themselves.
        If you'd like to create your game, you will have to write your masterpiece using Python programming language and our library to make the coding and deploying much easier.
      </p>
      <p class="ftco-animate">
        Our python library is called cavoke.
        It can be downloaded with pip package manager: <code>pip install cavoke</code>.
        Alternatively, it can be cloned from <a href="https://github.com/cavoke-project/cavoke-lib">GitHub</a>.
      </p>
      <p class="ftco-animate">
        This library implements classes like Game, Image, Grid, Row, etc. They will help you write the model of your game.
        Due to project-design, library doesn't have the rendering capabilities and returns only JSON field representation to be rendered at client-side.
      </p>
      <p class="ftco-animate">
        See <a href="#">the documentation</a> and <a href="#">examples</a>. <!-- TODO: complete links -->
        If you have any questions regarding cavoke-lib and cavoke in general feel free to <a href="/contact">reach out to us</a>.
      </p>
      <a href="https://github.com/cavoke-project/cavoke-lib" role="button" class="btn btn-primary btn-sm ftco-animate">View on GitHub</a>
    </div>
    <div class="container mb-3">
      <h2 id="git-repo" class="ftco-animate">Git repository</h2>
      <p class="ftco-animate">
        After your code is done, you should publish it (or no one will ever see it).
        To do so you should publish the git repository containing your code and provide us with the link to your git file (we recommend using GitHub for this part).
      </p>
      <p class="ftco-animate">
        With this link you can start <a href="#">publsihing your work</a>. <!-- TODO: complete links -->
      </p>
    </div>
    <!-- <div class="container"> TODO: add after system is working
      <h2 id="publsihing-work">Publishing your work</h2>
      <p>

      </p>
    </div> -->
    <div class="container mb-3">
      <h2 id="server-and-database" class="ftco-animate">Server-executor and database</h2>
      <p class="ftco-animate">
        Server-executor is a simple Django server, that listens to incoming API calls and accesses games directly.
        Database is a small NoSQL database, used for storing game info and other stuff.
      </p>
      <p class="ftco-animate">
        Developer's git repsository will be downloaded and the code will be run.
        Obviously, this poses a great security threat.
        Unfortunately, there is no way of dealing with it except for <b>manual moderation</b>, that's exactly what we do.
      </p>
      <a href="https://github.com/cavoke-project/cavoke-server" role="button" class="btn btn-primary btn-sm ftco-animate">View on GitHub</a>
    </div>
    <div class="container mb-3">
      <h2 id="client-side" class="ftco-animate">Client-side</h2>
      <p class="ftco-animate">
        Finally, there is the client-side. You can use cavoke from web, phone and desktop (some options might be unavailable).
        The client-side application receives JSON from the <a href="#server-and-database">server</a> and renders it on the user's screen.
      </p>
      <a href="https://github.com/cavoke-project/cavoke-web" role="button" class="btn btn-primary btn-sm ftco-animate">View on GitHub</a>
    </div>
  </div>
</section>
<br />
