<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <a class="navbar-brand" href="/">cavoke</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/library">Games</a></li>
        <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
        <li class="nav-item"><a class="nav-link" href="/login">Sign in</a></li>
        <li class="nav-item cta"><a class="nav-link" href="/signup"><span>Sign up</span></a></li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<footer class="ftco-footer ftco-bg-dark ftco-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2 ftco-animate">cavoke</h2>
          <p class="ftco-animate">Free open-source cross-platform tool for creating text-based and board games</p>
          <ul class="ftco-footer-social list-unstyled mb-0">
            <li class="ftco-animate"><a href="https://github.com/cavoke-project/"><span class="icon-github"></span></a></li>
            <li class="ftco-animate"><a href="mailto:cavoke@alexkovrigin.me"><span class="icon-envelope"></span></a></li>
            <li class="ftco-animate"><a href="https://t.me/waleko/"><span class="icon-telegram"></span></a></li>
            <li class="ftco-animate"><a href="https://vk.com/alex.kovrigin"><span class="icon-vk"></span></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2 ftco-animate">Navigational</h2>
          <ul class="list-unstyled">
            <li><a class="py-2 d-block ftco-animate" href="/">Home</a></li>
            <li><a class="py-2 d-block ftco-animate" href="/library">Games</a></li>
            <li><a class="py-2 d-block ftco-animate" href="/contact">Contact</a></li>
            <li><a class="py-2 d-block ftco-animate" href="/login">Sign in</a></li>
            <li><a class="py-2 d-block ftco-animate" href="/signup">Sign up</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <a href="https://github.com/cavoke-project/" class="btn btn-secondary btn-secondary-2 p-3 px-xl-5 py-xl-3 ftco-animate">View on GitHub</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="ftco-animate">
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy; <script>
          document.write(new Date().getFullYear());
        </script> Alexander Kovrigin |
          This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> and is provided under <a href="https://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

        </p>
        <div class="ftco-animate">
          Icons made by
          <a href="https://www.flaticon.com/authors/dave-gandy" title="Dave Gandy">Dave Gandy</a>,
          <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a>,
          <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>,
          <a href="https://www.flaticon.com/authors/mynamepong" title="mynamepong">mynamepong</a> and
          <a href="https://www.flaticon.com/authors/kiranshastry" title="Kiranshastry">Kiranshastry</a>
          from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
          provided under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC BY 3.0</a>
        </div>
        <!-- <p>
          <a class="btn btn-primary" data-toggle="collapse" href="collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            Link with href
          </a>
        </p>
        <div class="collapse" id="collapseExample">
          #233142
          <div class="card card-body" style="background-color: ">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
          </div>
        </div> -->
        <div class="ftco-animate">
          Gorgeous SVG images from <a href="https://undraw.co">unDraw</a> | Social icons from
        </div>
      </div>
    </div>
  </div>
</footer>



<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
  <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"></circle>
  <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#59B6F5"></circle></svg></div>
