<section class="home-slider owl-carousel">
  <div class="slider-item" [ngStyle]="owlStyle">
    <div class="overlay"></div>
    <div style="height: 100%">
      <div class="row slider-text align-content-center" data-scrollax-parent="true" style="height: 100%">
        <div class="wrap col" data-scrollax=" properties: { translateY: '70%' }" style="padding-left: 0 !important;">
          <h1 class="mb-1 mt-5" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }" align="center">{{ title }}</h1>
        </div>
      </div>
    </div>
  </div>
</section>
