<section class="home-slider owl-carousel">
  <div [ngStyle]="owlStyle" class="slider-item">
    <div class="overlay"></div>
    <div style="height: 100%">
      <div class="row slider-text align-content-center" data-scrollax-parent="true" style="height: 100%">
        <div class="wrap col" data-scrollax=" properties: { translateY: '70%' }" style="padding-left: 0 !important;">
          <h1 align="center" class="mb-1 mt-5"
              data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">{{ title }}</h1>
        </div>
      </div>
    </div>
  </div>
</section>
